#stage span {
  background-color: #f2f2f2fa;
  color: #333;
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: normal;
  display: inline-block; /* Inline-block for proper spacing */
  margin: 2px; /* Slight margin for spacing between steps */
  cursor: pointer; /* Pointer cursor on hover */
  border: 1px solid #d8d8d8fa; /* Border for the steps */
}

#stage .on {
  background-color: #4291ff; /* Blue background for the active step */
  color: white; /* White text for visibility */
}

hr {
  border: 0; /* 기존 테두리 제거 */
  height: 2px; /* 선의 두께를 조정 */
  background-color: #000; /* 선의 색상 설정 (검정색) */
}

.ticket-issuance {
  border: 1px solid #c8c8c8;
  padding: 10px;
}

.ticket-issuance img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
}

.ticket-issuance p {
  margin: 0; /* 기본 마진 제거 */
  font-size: 18px;
}

.table th {
  background-color: #f0f0f0;
}

.table tbody {
  border-top: 2px solid black;
  border-bottom: 1px solid #c8c8c8;
}

.table tr .amount-value {
  color: #E6383A;
  font-weight: bold;
}
