/* 기차역정보*/
.type_rol{height:494px;}
.type_rol .rig_map{position:relative;float:left}
.type_rol .rig_map span{position: absolute;top: 0;left: 0;}
.type_rol .rig_map h5{position:absolute;left:0;top:0;z-index:10;}
.type_rol .box_lin{position:relative;overflow:hidden;float:right;width:372px;height:465px;padding:15px 13px 0 13px;margin:2px 3px 0 0;border:1px solid #d1cece;box-shadow:5px 5px 5px 0px rgba(0, 0, 0, .08);}
.box_lin li{float:left;width:372px;height:465px;}
.box_rol .img_tra img{width:369px;height:243px;border:1px solid #b9b9b9}
.box_rol table.tbl_v td{padding:10px 0 10px 17px;}
.box_rol .btn{position:absolute;right:13px;bottom:20px;}
.box_lin .btn_play{position:absolute;right:13px;top:13px;}
.popup_ly .type_rol {height:640px;}
.popup_ly .type_rol .kb_p {top: 0;}
.popup_ly .type_rol .kb_p p {margin: 0;}
.popup_ly .rig_map div{top:0px;}

.rig_map div{position:absolute;left:25px;top:15px;z-index:1}
.rig_map div li a{display:block;position:absolute;height:16px;text-align:center;font-size:11px;border:1px solid #9e9e9e;border-radius:1px;box-shadow:1px 1px 0 rgba(0,0,0,.2);}
.ps01 a{width:36px;left:58px;top:59px}/* 행신 */
.ps02 a{width:25px;left:97px;top:68px}/* 서울 */
.ps03 a{width:40px;left:110px;top:90px}/* 용산 */
.ps04 a{width:40px;left:105px;top:98px}/* 영등포 */
.ps05 a{width:30px;left:58px;top:114px}/* 광명 */
.ps06 a{width:30px;left:122px;top:150px}/* 수원 */
.ps07 a{width:100px;left:-5px;top:177px}/* 천안아산 */
.ps08 a{width:30px;left:123px;top:188px}/* 오송 */
.ps09 a{width:30px;left:104px;top:246px}/* 대전 */
.ps10 a{width:40px;left:142px;top:237px}/* 서대전 */
.ps11 a{width:58px;left:201px;top:250px}/* 김천(구미) */
.ps12 a{width:40px;left:245px;top:275px}/* 동대구 */
.ps13 a{width:30px;left:214px;top:323px}/* 밀양 */
.ps14 a{width:30px;left:71px;top:254px}/* 논산 */
.ps15 a{width:30px;left:55px;top:275px}/* 익산 */
.ps16 a{width:40px;left:303px;top:297px}/* 신경주 */
.ps17 a{width:30px;left:298px;top:327px}/* 울산 */
.ps18 a{width:30px;left:280px;top:368px}/* 부산 */
.ps19 a{width:30px;left:232px;top:357px}/* 구포 */
.ps20 a{width:30px;left:127px;top:257px}/* 계룡 */
.ps40 a{width:40px;left:300px;top:264px}/* 포항 */
.ps41 a{width:30px;left:65px;top:224px}/* 공주 */
.ps48 a{width:50px;left:-9px;top:107px}/* 인천공항 */
.ps49 a{width:30px;left:26px;top:75px}/* 검암 */
.ps50 a{width:35px;left:125px;top:68px}/* 청량리 */
.ps51 a{width:25px;left:163px;top:68px}/* 상봉 */
.ps52 a{width:25px;left:115px;top:111px}/* 양평 */
.ps56 a{width:40px;left:180px;top:298px}/* 서대구 */

/* 호남선 */
.ps21 a{width:30px;left:89px;top:295px}/* 김제 */
.ps22 a{width:40px;left:34px;top:312px}/* 정읍 */
.ps23 a{width:30px;left:39px;top:342px}/* 장성 */
.ps24 a{width:30px;left:100px;top:353px}/* 광주 */
.ps25 a{width:50px;left:87px;top:380px}/* 광주송정 */
.ps26 a{width:30px;left:53px;top:395px}/* 나주 */
.ps27 a{width:30px;left:20px;top:420px}/* 목포 */
/* 경전선 */
.ps28 a{width:30px;left:243px;top:348px}/* 진영 */
.ps29 a{width:50px;left:232px;top:370px}/* 창원중앙 */
.ps30 a{width:30px;left:180px;top:345px}/* 창원 */
.ps31 a{width:30px;left:192px;top:382px}/* 마산 */
.ps32 a{width:30px;left:142px;top:372px}/* 진주 */
/* 전라선 */
.ps33 a{width:30px;left:113px;top:285px}/* 전주 */
.ps34 a{width:30px;left:126px;top:322px}/* 남원 */
.ps35 a{width:30px;left:87px;top:348px}/* 곡성 */
.ps36 a{width:40px;left:132px;top:365px}/* 구례구 */
.ps37 a{width:30px;left:97px;top:397px}/* 순천 */
.ps38 a{width:30px;left:145px;top:403px}/* 여천 */
.ps39 a{width:58px;left:130px;top:436px}/* 여수엑스포 */
/* 경강선 */
.ps42 a{width:25px;left:143px;top:136px}/* 만종 */
.ps43 a{width:25px;left:153px;top:104px}/* 횡성 */
.ps44 a{width:25px;left:198px;top:122px}/* 둔내 */
.ps45 a{width:25px;left:226px;top:118px}/* 평창 */
.ps46 a{width:70px;left:162px;top:85px}/* 진부(오대산) */
.ps47 a{width:25px;left:235px;top:68px}/* 강릉 */
.ps53 a{width:35px;left:277px;top:91px}/* 정동진 */
.ps54 a{width:25px;left:291px;top:112px}/* 묵호 */
.ps55 a{width:25px;left:299px;top:136px}/* 동해 */
.ps57 a{width:25px;left:87px;top:99px}/* 덕소 */
/* 중앙선 */
.ps61 a{width:35px;left:106px;top:72px}/* 청량리 */
.ps62 a{width:25px;left:154px;top:90px}/* 양평 */
.ps63 a{width:35px;left:130px;top:137px}/* 서원주 */
.ps64 a{width:25px;left:196px;top:117px}/* 원주 */
.ps65 a{width:25px;left:209px;top:142px}/* 제천 */
.ps66 a{width:25px;left:229px;top:162px}/* 단양 */
.ps67 a{width:25px;left:203px;top:191px}/* 풍기 */
.ps68 a{width:25px;left:262px;top:182px}/* 영주 */
.ps69 a{width:25px;left:269px;top:211px}/* 안동 */
.ps70 a{width:25px;left:65px;top:98px}/* 서울 */


/* 일반철도 */
.main_01, .main_02, .main_03, .main_04, .main_05 {margin:-10px 0 0 -30px;width: 398px;height: 500px;}
.main_01 .list, .main_02 .list, .main_03 .list, .main_04 .list, .main_05 .list {position: absolute;top: 0;left: 0;width: 398px;height: 500px;}
.main_01 .list a, .main_02 .list a, .main_03 .list a, .main_04 .list a, .main_05 .list a {width: 35px;height:15px;background: none;border:none;box-shadow:none}
.main_01 .list a>span, .main_02 .list a>span, .main_03 .list a>span, .main_04 .list a>span, .main_05 .list a>span {position: static;}

.main_01 .list a:hover,
.main_01 .list a.selected {background: url('/images/prd/map_main01_name.png') no-repeat 0 0; height: 19px;}
.main_01 .list .s1 a {left: 163px;top: 22px;background-position: 0 0px}
.main_01 .list .s2 a {left: 151px;top: 41px;background-position: 0 -23px}
.main_01 .list .s3 a {left: 169px;top: 65px;background-position: 0 -46px}
.main_01 .list .s4 a {left: 152px;top: 76px;background-position: 0 -69px}
.main_01 .list .s5 a {left: 170px;top: 101px;background-position: 0 -92px}
.main_01 .list .s6 a {left: 144px;top: 109px;background-position: 0 -115px}
.main_01 .list .s7 a {left: 168px;top: 119px;background-position: 0 -138px}
.main_01 .list .s8 a {left: 141px;top: 127px;background-position: 0 -161px}
.main_01 .list .s9 a {left: 156px;top: 166px;background-position: 0 -184px}
.main_01 .list .s10 a {left: 144px;top: 188px;background-position: 0 -207px}
.main_01 .list .s11 a {left: 147px;top: 203px;background-position: 0 -230px}
.main_01 .list .s12 a {left: 72px;top: 105px;background-position: 0 -253px}
.main_01 .list .s13 a {left: 56px;top: 118px;background-position: 0 -276px}
.main_01 .list .s14 a {left: 90px;top: 123px;background-position: 0 -299px}
.main_01 .list .s15 a {left: 96px;top: 134px;background-position: 0 -322px}
.main_01 .list .s16 a {left: 79px;top: 144px;background-position: 0 -345px}
.main_01 .list .s17 a {left: 95px;top: 154px;background-position: 0 -368px}
.main_01 .list .s18 a {left: 72px;top: 162px;background-position: 0 -391px}
.main_01 .list .s19 a {left: 70px;top: 173px;background-position: 0 -414px}
.main_01 .list .s20 a {left: 73px;top: 185px;background-position: 0 -437px}
.main_01 .list .s21 a {left: 82px;top: 197px;background-position: 0 -460px}
.main_01 .list .s22 a {left: 94px;top: 208px;background-position: 0 -483px}
.main_01 .list .s23 a {left: 126px;top: 209px;background-position: 0 -506px}
.main_01 .list .s24 a {left: 101px;top: 215px;background-position: 0 -529px}
.main_01 .list .s25 a {left: 140px;top: 220px;background-position: 0 -552px; width: 20px;}
.main_01 .list .s26 a {left: 161px;top: 221px;background-position: 0 -575px; width:20px; }
.main_01 .list .s27 a {left: 106px;top: 224px;background-position: 0 -598px}
.main_01 .list .s28 a {left: 136px;top: 234px;background-position: 0 -621px}
.main_01 .list .s29 a {left: 166px;top: 245px;background-position: 0 -644px}
.main_01 .list .s30 a {left: 142px;top: 149px;background-position: 0 -667px}
.main_01 .list .s31 a {left: 117px;top: 165px;background-position: 0 -690px}
.main_01 .list .s32 a {left: 136px;top: 167px;background-position: 0 -713px; width: 22px;}
.main_01 .list .s33 a {left: 102px;top: 175px;background-position: 0 -736px; width: 26px;height: 18px;}
.main_01 .list .s34 a {left: 115px;top: 196px;background-position: 0 -759px}
.main_01 .list .s35 a {left: 296px;top: 121px;background-position: 0 -782px; height:18px}
.main_01 .list .s36 a {left: 274px;top: 134px;background-position: 0 -805px}
.main_01 .list .s37 a {left: 249px;top: 155px;background-position: 0 -828px}
.main_01 .list .s38 a {left: 261px;top: 168px;background-position: 0 -851px}
.main_01 .list .s39 a {left: 216px;top: 171px;background-position: 0 -874px}
.main_01 .list .s40 a {left: 190px;top: 173px;background-position: 0 -897px}
.main_01 .list .s41 a {left: 252px;top: 179px;background-position: 0 -920px}
.main_01 .list .s42 a {left: 241px;top: 182px;background-position: 0 -943px}
.main_01 .list .s43 a {left: 227px;top: 192px;background-position: 0 -966px}
.main_01 .list .s44 a {left: 188px;top: 197px;background-position: 0 -989px}
.main_01 .list .s45 a {left: 87px;top: 242px;background-position: 0 -1012px}
.main_01 .list .s46 a {left: 147px;top: 250px;background-position: 0 -1035px}
.main_01 .list .s47 a {left: 107px;top: 266px;background-position: 0 -1058px}
.main_01 .list .s48 a {left: 114px;top: 280px;background-position: 0 -1081px}
.main_01 .list .s49 a {left: 149px;top: 297px;background-position: 0 -1104px}
.main_01 .list .s50 a {left: 166px;top: 340px;background-position: 0 -1127px}
.main_01 .list .s51 a {left: 175px;top: 378px;background-position: 0 -1150px}
.main_01 .list .s52 a {left: 175px;top: 400px;background-position: 0 -1173px}
.main_01 .list .s53 a {left: 180px;top: 417px;background-position: 0 -1196px}
.main_01 .list .s54 a {left: 191px;top: 433px;background-position: 0 -1219px}
.main_01 .list .s55 a {left: 186px;top: 222px;background-position: 0 -1242px}
.main_01 .list .s56 a {left: 206px;top: 212px;background-position: 0 -1265px}
.main_01 .list .s57 a {left: 236px;top: 230px;background-position: 0 -1288px}
.main_01 .list .s58 a {left: 202px;top: 235px;background-position: 0 -1311px; height: 10px;}
.main_01 .list .s59 a {left: 252px;top: 237px;background-position: 0 -1334px}
.main_01 .list .s60 a {left: 270px;top: 243px;background-position: 0 -1357px}
.main_01 .list .s61 a {left: 210px;top: 245px;background-position: 0 -1380px}
.main_01 .list .s62 a {left: 232px;top: 250px;background-position: 0 -1403px; width: 21px;}
.main_01 .list .s63 a {left: 287px;top: 252px;background-position: 0 -1426px}
.main_01 .list .s64 a {left: 309px;top: 256px;background-position: 0 -1449px; width: 18px;height: 21px;}
.main_01 .list .s65 a {left: 261px;top: 257px;background-position: 0 -1472px; width: 19px;height: 22px;}
.main_01 .list .s66 a {left: 334px;top: 262px;background-position: 0 -1495px}
.main_01 .list .s67 a {left: 318px;top: 267px;background-position: 0 -1518px; width: 20px;}
.main_01 .list .s68 a {left: 353px;top: 270px;background-position: 0 -1541px}
.main_01 .list .s69 a {left: 299px;top: 271px;background-position: 0 -1564px; width: 19px;}
.main_01 .list .s71 a {left: 366px;top: 288px;background-position: 0 -1610px}
.main_01 .list .s72 a { background-position: 0 -1630px; height: 20px; left: 179px; top: 210px;}
.main_01 .list .s73 a { background-position: 0 -1650px; height: 20px; left: 348px; top: 297px;}

.main_02 .list a:hover,
.main_02 .list a.selected {background: url('/images/prd/map_main02_name.png') no-repeat 0 0;}
.main_02 .list .s1 a {left: 331px;top: 67px;background-position: 0 0px}
.main_02 .list .s2 a {left: 323px;top: 81px;background-position: 0 -30px}
.main_02 .list .s3 a {left: 331px;top: 96px;background-position: 0 -60px}
.main_02 .list .s4 a {left: 315px;top: 111px;background-position: 0 -90px}
.main_02 .list .s5 a {left: 343px;top: 121px;background-position: 0 -120px}
.main_02 .list .s6 a {left: 324px;top: 133px;background-position: 0 -150px}
.main_02 .list .s7 a {left: 333px;top: 146px;background-position: 0 -180px}
.main_02 .list .s8 a {left: 288px;top: 73px;background-position: 0 -210px}
.main_02 .list .s9 a {left: 286px;top: 87px;background-position: 0 -240px}
.main_02 .list .s10 a {left: 294px;top: 100px;background-position: 0 -270px}
.main_02 .list .s11 a {left: 268px;top: 109px;background-position: 0 -300px}
.main_02 .list .s12 a {left: 275px;top: 121px;background-position: 0 -330px}
.main_02 .list .s13 a {left: 273px;top: 134px;background-position: 0 -360px}
.main_02 .list .s14 a {left: 240px;top: 136px;background-position: 0 -390px}
.main_02 .list .s15 a {left: 255px;top: 152px;background-position: 0 -420px}
.main_02 .list .s16 a {left: 225px;top: 158px;background-position: 0 -450px}
.main_02 .list .s17 a {left: 234px;top: 168px;background-position: 0 -480px}
.main_02 .list .s18 a {left: 211px;top: 178px;background-position: 0 -510px}
.main_02 .list .s19 a {left: 224px;top: 190px;background-position: 0 -540px}
.main_02 .list .s20 a {left: 198px;top: 200px;background-position: 0 -570px}
.main_02 .list .s21 a {left: 203px;top: 215px;background-position: 0 -2310px}
.main_02 .list .s22 a {left: 183px;top: 216px;background-position: 0 -630px}
.main_02 .list .s23 a {left: 105px;top: 163px;background-position: 0 -660px; height: 20px;}
.main_02 .list .s24 a {left: 129px;top: 150px;background-position: 0 -690px}
.main_02 .list .s25 a {left: 151px;top: 164px;background-position: 0 -720px}
.main_02 .list .s26 a {left: 156px;top: 184px;background-position: 0 -750px}
.main_02 .list .s27 a {left: 162px;top: 203px;background-position: 0 -780px}
.main_02 .list .s28 a {left: 155px;top: 217px;background-position: 0 -810px}
.main_02 .list .s29 a {left: 160px;top: 230px;background-position: 0 -840px}
.main_02 .list .s30 a {left: 177px;top: 257px;background-position: 0 -870px}
.main_02 .list .s31 a {left: 200px;top: 269px;background-position: 0 -900px}
.main_02 .list .s32 a {left: 181px;top: 280px;background-position: 0 -930px}
.main_02 .list .s33 a {left: 196px;top: 288px;background-position: 0 -960px}
.main_02 .list .s34 a {left: 166px;top: 294px;background-position: 0 -990px}
.main_02 .list .s35 a {left: 167px;top: 309px;background-position: 0 -1020px}
.main_02 .list .s36 a {left: 188px;top: 322px;background-position: 0 -1050px}
.main_02 .list .s37 a {left: 152px;top: 320px;background-position: 0 -1080px}
.main_02 .list .s38 a {left: 165px;top: 330px;background-position: 0 -1110px}
.main_02 .list .s39 a {left: 156px;top: 339px;background-position: 0 -1140px; width: 20px;height: 20px;;}
.main_02 .list .s40 a {left: 132px;top: 332px;background-position: 0 -1170px}
.main_02 .list .s41 a {left: 123px;top: 344px;background-position: 0 -1200px}
.main_02 .list .s42 a {left: 217px;top: 301px;background-position: 0 -1230px;width:20px;height: 20px;}
.main_02 .list .s43 a {left: 225px;top: 313px;background-position: 0 -1260px}
.main_02 .list .s44 a {left: 222px;top: 324px;background-position: 0 -1290px}
.main_02 .list .s45 a {left: 245px;top: 323px;background-position: 0 -1320px; width: 20px;height: 18px;}
.main_02 .list .s46 a {left: 233px;top: 341px;background-position: 0 -1350px; width: 26px;}
.main_02 .list .s47 a {left: 250px;top: 350px;background-position: 0 -1380px;width: 19px;height: 22px;}
.main_02 .list .s48 a {left: 268px;top: 339px;background-position: 0 -1410px; width: 20px;height: 20px;}
.main_02 .list .s49 a {left: 138px;top: 180px;background-position: 0 -1440px; width: 19px;height: 20px;}
.main_02 .list .s50 a {left: 120px;top: 195px;background-position: 0 -1470px;width: 20px;height: 31px;}
.main_02 .list .s51 a {left: 92px;top: 174px;background-position: 0 -1504px;width: 20px;height: 20px;}
.main_02 .list .s52 a {left: 73px;top: 182px;background-position: 0 -1530px; width: 24px;}
.main_02 .list .s53 a {left: 49px;top: 196px;background-position: 0 -1560px;width: 42px;}
.main_02 .list .s54 a {left: 75px;top: 207px;background-position: 0 -1590px}
.main_02 .list .s55 a {left: 74px;top: 219px;background-position: 0 -1620px}
.main_02 .list .s56 a {left: 56px;top: 208px;background-position: 0 -1650px; width: 20px;height: 20px;}
.main_02 .list .s57 a {left: 31px;top: 215px;background-position: 0 -1680px;width: 26px;height: 11px;}
.main_02 .list .s58 a {left: 55px;top: 226px;background-position: 0 -1710px}
.main_02 .list .s59 a {left: 36px;top: 228px;background-position: 0 -1740px; width: 24px;}
.main_02 .list .s60 a {left: 50px;top: 244px;background-position: 0 -1770px}
.main_02 .list .s61 a {left: 31px;top: 253px;background-position: 0 -1800px}
.main_02 .list .s62 a {left: 55px;top: 262px;background-position: 0 -1830px}
.main_02 .list .s63 a {left: 35px;top: 265px;background-position: 0 -1860px}
.main_02 .list .s64 a {left: 44px;top: 278px;background-position: 0 -1890px}
.main_02 .list .s65 a {left: 28px;top: 288px;background-position: 0 -1920px}
.main_02 .list .s66 a {left: 49px;top: 298px;background-position: 0 -2010px}
.main_02 .list .s67 a {left: 35px;top: 308px;background-position: 0 -1980px}
.main_02 .list .s68 a {left: 53px;top: 317px;background-position: 0 -1950px}
.main_02 .list .s69 a {left: 40px;top: 330px;background-position: 0 -2040px}
.main_02 .list .s70 a {left: 65px;top: 338px;background-position: 0 -2070px}
.main_02 .list .s71 a {left: 51px;top: 347px;background-position: 0 -2100px}
.main_02 .list .s72 a {left: 71px;top: 356px;background-position: 0 -2130px}
.main_02 .list .s73 a {left: 55px;top: 365px;background-position: 0 -2160px}
.main_02 .list .s74 a {left: 69px;top: 375px;background-position: 0 -2190px}
.main_02 .list .s75 a {left: 190px;top: 242px;background-position: 0 -2220px}
.main_02 .list .s76 a {left: 235px;top: 147px;background-position: 2px -2252px}
.main_02 .list .s77 a {left: 320px;top: 112px;background-position: 4px -2282px}
.main_02 .list .s78 a {left: 209px;top: 209px;background-position: 0 -2340px}
.main_02 .list .s142 a {left: 245px;top: 326px;background-position: 0 -2370px}

.main_03 .list a:hover,
.main_03 .list a.selected {background: url('/images/prd/map_main03_name_02.png') no-repeat 0 0;}
.main_03 .list .s1 a {left: 75px;top: 222px;background-position: 0 0px}
.main_03 .list .s2 a {left: 82px;top: 233px;background-position: 0 -23px}
.main_03 .list .s3 a {left: 79px;top: 243px;background-position: 0 -46px}
.main_03 .list .s4 a {left: 64px;top: 241px;background-position: 0 -69px; width: 19px;height: 20px;}
.main_03 .list .s5 a {left: 49px;top: 230px;background-position: 0 -92px;width: 18px;height: 18px;}
.main_03 .list .s6 a {left: 17px;top: 237px;background-position: 0 -1104px;  } /*  경강 -> 굴봉산 */
.main_03 .list .s7 a {left: 75px;top: 333px;background-position: 0 -138px}
.main_03 .list .s8 a {left: 99px;top: 346px;background-position: 0 -161px; width: 22px;height: 22px;}
.main_03 .list .s9 a {left: 102px;top: 331px;background-position: 0 -184px; width: 20px;height: 20px;}
.main_03 .list .s10 a {left: 122px;top: 332px;background-position: 0 -207px;width: 20px;height: 20px;}
.main_03 .list .s11 a {left: 126px;top: 350px;background-position: 0 -230px}
.main_03 .list .s12 a {left: 133px;top: 361px;background-position: 0 -253px}
.main_03 .list .s13 a {left: 142px;top: 372px;background-position: 0 -276px}
.main_03 .list .s14 a {left: 178px;top: 375px;background-position: 0 -299px; width: 20px;height: 19px;}
.main_03 .list .s15 a {left: 200px;top: 371px;background-position: 0 -322px; width: 19px;height: 20px;}
.main_03 .list .s16 a {left: 211px;top: 385px;background-position: 0 -345px; width: 21px;height: 20px;}
.main_03 .list .s17 a {left: 227px;top: 383px;background-position: 0 -368px; width: 21px;height: 20px;}
.main_03 .list .s18 a {left: 221px;top: 372px;background-position: 0 -391px}
.main_03 .list .s19 a {left: 245px;top: 374px;background-position: 0 -414px; width: 20px;height: 21px;}
.main_03 .list .s20 a {left: 233px;top: 363px;background-position: 0 -437px}
.main_03 .list .s21 a {left: 240px;top: 287px;background-position: 0 -460px; height: 20px;}
.main_03 .list .s22 a {left: 248px;top: 311px;background-position: 0 -483px; width: 39px;}
.main_03 .list .s23 a {left: 221px;top: 314px;background-position: 0 -506px}
.main_03 .list .s24 a {left: 224px;top: 332px;background-position: 0 -529px}
.main_03 .list .s25 a {left: 247px;top: 336px;background-position: 0 -552px}
.main_03 .list .s26 a {left: 228px;top: 351px;background-position: 0 -575px}
.main_03 .list .s27 a {left: 263px;top: 351px;background-position: 0 -600px; width: 30px;height: 20px;}
.main_03 .list .s28 a {left: 273px;top: 359px;background-position: 0 -621px}
.main_03 .list .s29 a {left: 288px;top: 365px;background-position: 0 -644px;width: 23px;}
.main_03 .list .s30 a {left: 262px;top: 373px;background-position: 0 -667px}
.main_03 .list .s31 a {left: 279px;top: 377px;background-position: 0 -690px}
.main_03 .list .s32 a {left: 292px;top: 383px;background-position: 0 -713px}
.main_03 .list .s33 a {left: 262px;top: 242px;background-position: 0 -736px}
.main_03 .list .s34 a {left: 279px;top: 261px;background-position: 0 -759px}
.main_03 .list .s35 a {left: 300px;top: 285px;background-position: 0 -782px}
.main_03 .list .s36 a {left: 304px;top: 297px;background-position: 0 -805px}
.main_03 .list .s37 a {left: 294px;top: 309px;background-position: 0 -828px}
.main_03 .list .s38 a {left: 322px;top: 318px;background-position: 0 -851px}
.main_03 .list .s39 a {left: 298px;top: 333px;background-position: 0 -874px}
.main_03 .list .s40 a {left: 318px;top: 338px;background-position: 0 -897px}
.main_03 .list .s41 a {left: 288px;top: 346px;background-position: 0 -920px}
.main_03 .list .s42 a {left: 316px;top: 350px;background-position: 0 -943px}
.main_03 .list .s43 a {left: 313px;top: 364px;background-position: 0 -966px}
.main_03 .list .s44 a {left: 309px;top: 375px;background-position: 0 -989px}
.main_03 .list .s45 a {left: 310px;top: 387px;background-position: 0 -1012px}
.main_03 .list .s46 a {left: 300px;top: 396px;background-position: 0 -1035px;width: 20px;height: 20px;}
.main_03 .list .s47 a {left: 317px;top: 401px;background-position: 0 -1058px; height:20px;}
.main_03 .list .s48 a {left: 102px;top: 330px;background-position: 0 -1080px;}

.main_04 .list a:hover,
.main_04 .list a.selected {background: url('/images/prd/map_main04_name.png') no-repeat 0 0;}
.main_04 .list .s1 a {left: 253px;top: 13px; background-position: 0 0px}
.main_04 .list .s2 a {left: 275px;top: 19px; background-position: 0 -20px}
.main_04 .list .s3 a {left: 279px;top: 27px; background-position: 0 -40px}
.main_04 .list .s4 a {left: 241px;top: 29px; background-position: 0 -60px; width:21px; height:21px}
.main_04 .list .s5 a {left: 260px;top: 32px; background-position: 0 -85px; width:18px; height:19px}
.main_04 .list .s6 a {left: 275px;top: 42px; background-position: 0 -110px}
.main_04 .list .s7 a {left: 224px;top: 41px; background-position: 0 -132px}
.main_04 .list .s8 a {left: 207px;top: 45px; background-position: 0 -154px}
.main_04 .list .s9 a {left: 245px;top: 49px; background-position: 0 -176px}
.main_04 .list .s10 a {left: 191px;top: 49px; background-position: 0 -198px; width:28px; height:15px}
.main_04 .list .s11 a {left: 263px;top: 52px; background-position: 0 -220px; height:18px}
.main_04 .list .s12 a {left: 189px;top: 59px; background-position: 0 -286px}
.main_04 .list .s13 a {left: 225px;top: 53px; background-position: 0 -264px; width:20px; height:19px}
.main_04 .list .s14 a {left: 143px;top: 51px; background-position: 0 -242px}
.main_04 .list .s15 a {left: 167px;top: 62px; background-position: 0 -310px; height:19px}
.main_04 .list .s16 a {left: 201px;top: 72px; background-position: 0 -334px; height:13px}
.main_04 .list .s17 a {left: 172px;top: 79px; background-position: 0 -352px; height:18px}
.main_04 .list .s18 a {left: 196px;top: 84px; background-position: 0 -374px; width:19px; height:21px}
.main_04 .list .s19 a {left: 213px;top: 91px; background-position: 0 -402px}
.main_04 .list .s20 a {left: 146px;top: 96px; background-position: 0 -418px; height:20px}
.main_04 .list .s21 a {left: 215px;top: 102px; background-position: 0 -445px}
.main_04 .list .s22 a {left: 128px;top: 104px; background-position: 0 -462px; width:23px; height:21px}
.main_04 .list .s23 a {left: 170px;top: 110px; background-position: 0 -487px; height:20px}
.main_04 .list .s24 a {left: 218px;top: 115px; background-position: 0 -513px}
.main_04 .list .s25 a {left: 104px;top: 116px; background-position: 0 -534px}
.main_04 .list .s26 a {left: 221px;top: 125px; background-position: 0 -557px}
.main_04 .list .s27 a {left: 215px;top: 133px; background-position: 0 -578px}
.main_04 .list .s28 a {left: 120px;top: 138px; background-position: 0 -602px}
.main_04 .list .s29 a {left: 187px;top: 145px; background-position: 0 -625px}
.main_04 .list .s30 a {left: 120px;top: 154px; background-position: 0 -647px}
.main_04 .list .s31 a {left: 210px;top: 156px; background-position: 0 -669px}
.main_04 .list .s32 a {left: 193px;top: 171px; background-position: 0 -691px}
.main_04 .list .s33 a {left: 116px;top: 172px;background-position: 0 -713px}
.main_04 .list .s34 a {left: 110px;top: 184px;background-position: 0 -735px}
.main_04 .list .s35 a {left: 210px;top: 193px;background-position: 0 -757px}
.main_04 .list .s36 a {left: 110px;top: 196px;background-position: 0 -779px}
.main_04 .list .s37 a {left: 142px;top: 193px;background-position: 0 -797px; width:19px; height:19px}
.main_04 .list .s38 a {left: 189px;top: 202px;background-position: 0 -823px; width:25px; height:14px}
.main_04 .list .s39 a {left: 156px;top: 202px;background-position: 0 -845px}
.main_04 .list .s40 a {left: 117px;top: 207px;background-position: 0 -867px}
.main_04 .list .s41 a {left: 208px;top: 208px;background-position: 0 -889px;}
.main_04 .list .s42 a {left: 67px;top: 212px;background-position: 0 -911px}
.main_04 .list .s43 a {left: 142px;top: 213px;background-position: 0 -933px; width:25px}
.main_04 .list .s44 a {left: 163px;top: 214px;background-position: 0 -955px}
.main_04 .list .s45 a {left: 218px;top: 220px;background-position: 0 -977px}
.main_04 .list .s46 a {left: 195px;top: 220px;background-position: 0 -999px; width:26px; height:17px}
.main_04 .list .s47 a {left: 316px;top: 220px;background-position: 0 -1021px; width:20px; height:19px}
.main_04 .list .s48 a {left: 340px;top: 221px;background-position: 0 -1042px; height:19px}
.main_04 .list .s49 a {left: 105px;top: 223px;background-position: 0 -1065px; height:22px}
.main_04 .list .s50 a {left: 151px;top: 227px;background-position: 0 -1091px; width:27px}
.main_04 .list .s51 a {left: 168px;top: 232px;background-position: 0 -1113px}
.main_04 .list .s52 a {left: 293px;top: 231px;background-position: 0 -1133px; width:31px}
.main_04 .list .s53 a {left: 233px;top: 232px;background-position: 0 -1156px}
.main_04 .list .s54 a {left: 209px;top: 235px;background-position: 0 -1179px; width:25px}
.main_04 .list .s55 a {left: 330px;top: 237px;background-position: 0 -1201px}
.main_04 .list .s56 a {left: 288px;top: 243px;background-position: 0 -1226px; width:28px; height:11px}
.main_04 .list .s57 a {left: 244px;top: 245px;background-position: 0 -1248px}
.main_04 .list .s58 a {left: 143px;top: 246px;background-position: 0 -1270px; width:27px}
.main_04 .list .s59 a {left: 309px;top: 249px;background-position: 0 -1293px}
.main_04 .list .s60 a {left: 169px;top: 246px;background-position: 0 -1311px; width:17px; height:20px}
.main_04 .list .s61 a {left: 223px;top: 251px;background-position: 0 -1337px}
.main_04 .list .s62 a {left: 189px;top: 250px;background-position: 0 -1356px; width:24px; height:18px}
.main_04 .list .s63 a {left: 293px;top: 256px;background-position: 0 -1381px; width:27px; height:10px}
.main_04 .list .s64 a {left: 241px;top: 262px;background-position: 0 -1403px}
.main_04 .list .s65 a {left: 207px;top: 262px;background-position: 0 -1425px; width:30px; height:19px}
.main_04 .list .s66 a {left: 269px;top: 262px;background-position: 0 -1447px}
.main_04 .list .s67 a {left: 160px;top: 262px;background-position: 0 -1469px}
.main_04 .list .s68 a {left: 306px;top: 264px;background-position: 0 -1493px}
.main_04 .list .s69 a {left: 230px;top: 261px;background-position: 0 -1509px; width:19px; height:25px}
.main_04 .list .s70 a {left: 181px;top: 271px;background-position: 0 -1535px; width:22px; height:18px}
.main_04 .list .s71 a {left: 177px;top: 309px;background-position: 0 -1783px}
.main_04 .list .s72 a {left: 211px;top: 273px;background-position: 0 -1579px; width:20px; height:19px}
.main_04 .list .s73 a {left: 269px;top: 275px;background-position: 0 -1602px; width:21px; height:18px}
.main_04 .list .s74 a {left: 288px;top: 281px;background-position: 0 -1623px; width:20px; height:19px}
.main_04 .list .s75 a {left: 232px;top: 368px;background-position: 0 -2178px; width:19px; height:21px}
.main_04 .list .s76 a {left: 186px;top: 286px;background-position: 0 -1667px}
.main_04 .list .s77 a {left: 203px;top: 296px;background-position: 0 -1693px}
.main_04 .list .s78 a {left: 195px;top: 327px;background-position: 0 -1872px; width:27px}
.main_04 .list .s79 a {left: 214px;top: 332px;background-position: 0 -1914px}
.main_04 .list .s80 a {left: 226px;top: 345px;background-position: 0 -1961px}
.main_04 .list .s81 a {left: 231px;top: 356px;background-position: 0 -2028px}
.main_04 .list .s82 a {left: 209px;top: 309px;background-position: 0 -1802px}
.main_04 .list .s83 a {left: 248px;top: 361px;background-position: 0 -2202px; height:18px}
.main_04 .list .s84 a {left: 253px;top: 375px;background-position: 0 -2136px; width:30px}
.main_04 .list .s85 a {left: 152px;top: 355px;background-position: 0 -2114px; width:28px}
.main_04 .list .s86 a {left: 274px;top: 391px;background-position: 0 -2422px; width:20px; height:18px}
.main_04 .list .s87 a {left: 236px;top: 390px;background-position: 0 -2722px}
.main_04 .list .s88 a {left: 227px;top: 431px;background-position: 0 -2936px; width:20px; height:22px}
.main_04 .list .s89 a {left: 229px;top: 406px;background-position: 0 -2871px}
.main_04 .list .s90 a {left: 247px;top: 422px;background-position: 0 -2825px; width:22px; height:18px}
.main_04 .list .s91 a {left: 266px;top: 425px;background-position: 0 -2738px; width:18px; height:21px}
.main_04 .list .s92 a {left: 280px;top: 424px;background-position: 0 -2602px; width:30px; height:20px}
.main_04 .list .s93 a {left: 282px;top: 407px;background-position: 0 -2467px; width:22px; height:22px}
.main_04 .list .s94 a {left: 301px;top: 412px;background-position: 0 -2648px; width:40px; height:18px} /* 20220315 신해운대 width 추가 */
.main_04 .list .s95 a {left: 308px;top: 403px;background-position: 0 -2538px}
.main_04 .list .s96 a {left: 313px;top: 393px;background-position: 0 -2406px; width:30px; height:11px}
.main_04 .list .s97 a {left: 300px;top: 382px;background-position: 0 -2294px; height:10px}
.main_04 .list .s98 a {left: 323px;top: 372px;background-position: 0 -2159px}
.main_04 .list .s99 a {left: 300px;top: 363px;background-position: 0 -2070px}
.main_04 .list .s100 a {left: 326px;top: 358px;background-position: 0 -2049px}
.main_04 .list .s101 a {left: 310px;top: 349px;background-position: 0 -1982px; width:25px}
.main_04 .list .s102 a {left: 329px;top: 341px;background-position: 0 -1937px}
.main_04 .list .s103 a {left: 305px;top: 333px;background-position: 0 -1894px; width:37px; height:9px}
.main_04 .list .s104 a {left: 338px;top: 318px;background-position: 0 -1846px}
.main_04 .list .s105 a {left: 328px;top: 304px;background-position: 0 -1735px}
.main_04 .list .s106 a {left: 314px;top: 319px;background-position: 0 -1826px; width:26px}
.main_04 .list .s107 a {left: 308px;top: 305px;background-position: 0 -1758px; width:24px}
.main_04 .list .s108 a {left: 301px;top: 297px;background-position: 0 -1715px; width:26px; height:11px}
.main_04 .list .s109 a {left: 312px;top: 283px;background-position: 0 -1645px}
.main_04 .list .s110 a {left: 307px;top: 273px;background-position: 0 -1557px}
.main_04 .list .s111 a {left: 195px;top: 350px;background-position: 0 -2004px}
.main_04 .list .s112 a {left: 201px;top: 365px;background-position: 0 -2091px}
.main_04 .list .s113 a {left: 194px;top: 374px;background-position: 0 -2696px; width:25px; height:19px}
.main_04 .list .s114 a {left: 173px;top: 368px;background-position: 0 -2336px; width:22px; height:20px}
.main_04 .list .s115 a {left: 194px;top: 396px;background-position: 0 -2582px}
.main_04 .list .s116 a {left: 198px;top: 427px;background-position: 0 -2982px; width:20px; height:32px}
.main_04 .list .s117 a {left: 168px;top: 383px;background-position: 0 -2496px; width:19px; height:34px}
.main_04 .list .s118 a {left: 141px;top: 421px;background-position: 0 -2385px}
.main_04 .list .s119 a {left: 169px;top: 434px;background-position: 0 -2562px}
.main_04 .list .s120 a {left: 149px;top: 437px;background-position: 0 -2779px; width:20px; height:22px}
.main_04 .list .s121 a {left: 143px;top: 368px;background-position: 0 -2310px; width:19px; height:20px}
.main_04 .list .s122 a {left: 135px;top: 397px;background-position: 0 -2222px; width:19px; height:19px}
.main_04 .list .s123 a {left: 124px;top: 372px;background-position: 0 -2246px; width:24px; height:22px}
.main_04 .list .s124 a {left: 111px;top: 379px;background-position: 0 -2271px; width:26px; height:20px}
.main_04 .list .s125 a {left: 101px;top: 389px;background-position: 0 -2360px; width:27px}
.main_04 .list .s126 a {left: 109px;top: 409px;background-position: 0 -2444px; width:24px; height:22px}
.main_04 .list .s127 a {left: 86px;top: 403px;background-position: 0 -2627px; width:25px}
.main_04 .list .s128 a {left: 94px;top: 424px;background-position: 0 -2804px; width:24px; height:18px}
.main_04 .list .s129 a {left: 67px;top: 409px;background-position: 0 -2668px; width:25px; height:22px}
.main_04 .list .s130 a {left: 80px;top: 432px;background-position: 0 -2847px; width:29px; height:21px}
.main_04 .list .s131 a {left: 53px;top: 422px;background-position: 0 -2760px; width:25px}
.main_04 .list .s132 a {left: 65px;top: 439px;background-position: 0 -2913px; width:20px; height:22px}
.main_04 .list .s133 a {left: 41px;top: 433px;background-position: 0 -2892px; width:22px; height:20px}
.main_04 .list .s134 a {left: 44px;top: 447px;background-position: 0 -2958px; width:21px; height:21px}
.main_04 .list .s135 a {left: 326px;top: 172px;background-position: 0 -3020px; width:28px; height:15px}
.main_04 .list .s136 a {left: 326px;top: 184px;background-position: 0 -3039px; width:28px; height:15px}
.main_04 .list .s137 a {left: 326px;top: 196px;background-position: 0 -3058px; width:28px; height:15px}
.main_04 .list .s138 a {left: 326px;top: 208px;background-position: 0 -3077px; width:28px; height:15px}
.main_04 .list .s139 a {left: 280px;top: 282px;background-position: 0 -3095px; height:23px}/* 신경주 */
.main_04 .list .s140 a {left: 310px;top: 314px;background-position: 0 -3118px; width:35px; height:15px}/* 북울산 */

.main_05 .list a:hover,
.main_05 .list a.selected {background: url('/images/prd/map_main05_name.png') no-repeat 0 0;}
.main_05 .list .s1 a {left: 211px;top: 19px;background-position: 0 0px}
.main_05 .list .s2 a {left: 204px;top: 34px;background-position: 0 -23px}
.main_05 .list .s3 a {left: 204px;top: 47px;background-position: 0 -46px}
.main_05 .list .s4 a {left: 182px;top: 56px;background-position: 0 -69px; width: 20px; height: 21px;}
.main_05 .list .s5 a {left: 145px;top: 57px;background-position: 0 -92px}
.main_05 .list .s6 a {left: 203px;top: 62px;background-position: 0 -115px}
.main_05 .list .s7 a {left: 164px;top: 67px;background-position: 0 -138px; width: 19px;height: 21px;}
.main_05 .list .s8 a {left: 221px;top: 74px;background-position: 0 -1978px}/* 동익산 배경위치 변경 */
.main_05 .list .s9 a {left: 188px;top: 77px;background-position: 0 -184px}
.main_05 .list .s10 a {left: 210px;top: 90px;background-position: 0 -207px}
.main_05 .list .s11 a {left: 177px;top: 91px;background-position: 0 -230px}
.main_05 .list .s12 a {left: 240px;top: 92px;background-position: 0 -253px}
.main_05 .list .s13 a {left: 228px;top: 104px;background-position: 0 -276px}
.main_05 .list .s14 a {left: 171px;top: 105px;background-position: 0 -299px}
.main_05 .list .s15 a {left: 252px;top: 111px;background-position: 0 -322px}
.main_05 .list .s16 a {left: 187px;top: 119px;background-position: 0 -345px}
.main_05 .list .s17 a {left: 238px;top: 123px;background-position: 0 -368px}
.main_05 .list .s18 a {left: 159px;top: 132px;background-position: 0 -391px}
.main_05 .list .s19 a {left: 261px;top: 133px;background-position: 0 -414px}
.main_05 .list .s20 a {left: 246px;top: 144px;background-position: 0 -437px}
.main_05 .list .s21 a {left: 180px;top: 146px;background-position: 0 -460px}
.main_05 .list .s22 a {left: 269px;top: 154px;background-position: 0 -483px}
.main_05 .list .s23 a {left: 153px;top: 157px;background-position: 0 -506px}
.main_05 .list .s24 a {left: 253px;top: 165px;background-position: 0 -529px}
.main_05 .list .s25 a {left: 173px;top: 170px;background-position: 0 -552px}
.main_05 .list .s26 a {left: 273px;top: 178px;background-position: 0 -575px}
.main_05 .list .s27 a {left: 155px;top: 185px;background-position: 0 -598px}
.main_05 .list .s28 a {left: 258px;top: 190px;background-position: 0 -621px}
.main_05 .list .s29 a {left: 281px;top: 200px;background-position: 0 -644px}
.main_05 .list .s30 a {left: 172px;top: 201px;background-position: 0 -667px}
.main_05 .list .s31 a {left: 287px;top: 212px;background-position: 0 -690px}
.main_05 .list .s32 a {left: 148px;top: 214px;background-position: 0 -713px}
.main_05 .list .s33 a {left: 256px;top: 223px;background-position: 0 -736px}
.main_05 .list .s34 a {left: 156px;top: 227px;background-position: 0 -759px}
.main_05 .list .s35 a {left: 270px;top: 233px;background-position: 0 -782px}
.main_05 .list .s36 a {left: 252px;top: 243px;background-position: 0 -805px}
.main_05 .list .s37 a {left: 135px;top: 244px;background-position: 0 -828px}
.main_05 .list .s38 a {left: 275px;top: 254px;background-position: 0 -851px}
.main_05 .list .s39 a {left: 180px;top: 250px;background-position: 0 -874px; width: 27px;height: 20px;}
.main_05 .list .s40 a {left: 158px;top: 258px;background-position: 0 -897px}
.main_05 .list .s41 a {left: 206px;top: 264px;background-position: 0 -920px}
.main_05 .list .s42 a {left: 266px;top: 273px;background-position: 0 -943px}
.main_05 .list .s43 a {left: 123px;top: 276px;background-position: 0 -2001px; width: 40px; }/* 광주송정 */
.main_05 .list .s44 a {left: 165px;top: 276px;background-position: 0 -989px}
.main_05 .list .s45 a {left: 198px;top: 285px;background-position: 0 -1012px}
.main_05 .list .s46 a {left: 147px;top: 293px;background-position: 0 -1035px}
.main_05 .list .s47 a {left: 183px;top: 295px;background-position: 0 -1058px; width: 26px;}
.main_05 .list .s48 a {left: 94px;top: 291px;background-position: 0 -1081px; height: 21px;width: 27px;}
.main_05 .list .s49 a {left: 229px;top: 296px;background-position: 0 -1104px}
.main_05 .list .s50 a {left: 295px;top: 298px;background-position: 0 -1127px}
.main_05 .list .s51 a {left: 198px;top: 301px;background-position: 0 -1150px}
.main_05 .list .s52 a {left: 137px;top: 305px;background-position: 0 -1173px}
.main_05 .list .s53 a {left: 69px;top: 304px;background-position: 0 -1196px}
.main_05 .list .s54 a {left: 227px;top: 310px;background-position: 0 -1219px}
.main_05 .list .s55 a {left: 273px;top: 312px;background-position: 0 -1242px}
.main_05 .list .s56 a {left: 116px;top: 309px;background-position: 0 -1265px; width: 21px;height: 22px;}
.main_05 .list .s57 a {left: 369px;top: 319px;background-position: 0 -1288px}
.main_05 .list .s58 a {left: 53px;top: 320px;background-position: 0 -1311px}
.main_05 .list .s59 a {left: 221px;top: 323px;background-position: 0 -1334px}
.main_05 .list .s60 a {left: 270px;top: 330px;background-position: 0 -1357px}
.main_05 .list .s61 a {left: 198px;top: 333px;background-position: 0 -1380px}
.main_05 .list .s62 a {left: 356px;top: 331px;background-position: 0 -1403px}
.main_05 .list .s63 a {left: 307px;top: 338px;background-position: 0 -1426px; width: 21px;height: 20px;}
.main_05 .list .s64 a {left: 51px;top: 343px;background-position: 0 -1449px}
.main_05 .list .s65 a {left: 278px;top: 344px;background-position: 0 -1472px}
.main_05 .list .s66 a {left: 344px;top: 339px;background-position: 0 -1495px; width: 21px;height: 22px;}
.main_05 .list .s67 a {left: 225px;top: 344px;background-position: 0 -1518px}
.main_05 .list .s68 a {left: 325px;top: 342px;background-position: 0 -1541px; width: 20px;height: 20px;}
.main_05 .list .s69 a {left: 213px;top: 354px;background-position: 0 -1564px}
.main_05 .list .s70 a {left: 59px;top: 356px;background-position: 0 -1587px}
.main_05 .list .s71 a {left: 242px;top: 360px;background-position: 0 -1610px}
.main_05 .list .s72 a {left: 285px;top: 361px;background-position: 0 -1633px}
.main_05 .list .s73 a {left: 324px;top: 363px;background-position: 0 -1656px}
.main_05 .list .s74 a {left: 21px;top: 361px;background-position: 0 -1679px}
.main_05 .list .s75 a {left: 228px;top: 371px;background-position: 0 -1702px}
.main_05 .list .s76 a {left: 43px;top: 370px;background-position: 0 -1725px}
.main_05 .list .s77 a {left: 309px;top: 374px;background-position: 0 -1748px}
.main_05 .list .s78 a {left: 336px;top: 381px;background-position: 0 -1771px}
.main_05 .list .s79 a {left: 245px;top: 382px;background-position: 0 -1794px}
.main_05 .list .s80 a {left: 290px;top: 393px;background-position: 0 -1817px}
.main_05 .list .s81 a {left: 230px;top: 394px;background-position: 0 -1840px}
.main_05 .list .s82 a {left: 341px;top: 394px;background-position: 0 -1863px; height: 10px;}
.main_05 .list .s83 a {left: 261px;top: 395px;background-position: 0 -1886px}
.main_05 .list .s84 a {left: 330px;top: 404px;background-position: 0 -1909px; width: 28px;height: 10px;}
.main_05 .list .s85 a {left: 348px;top: 407px;background-position: 0 -1932px; width: 21px;height: 21px;}
.main_05 .list .s86 a {left: 367px;top: 413px;background-position: 0 -1955px}
.main_05 .list .s141 a {left: 280px;top: 371px;background-position: 0 -2024px; width: 30px;height: 21px;}/* 벌교 추가 */
.main_05 .list .s142 a {left: 276px;top: 383px;background-position: 0 -2047px}/* 조성 추가 */

