#caption{
  font-size: 30px;
  font-weight: bold;
}

.highlight {
  color: blue;
  cursor: pointer;
}

#feeBtn{
  margin-top: 10px;
}
/* .wrap{
  width: 600px;
  margin: 0 auto;
  overflow-x: scroll;
} */
