body {
    padding-top: 170px; /* 헤더 높이만큼 상단에 패딩을 줘서 헤더에 내용이 가려지지 않도록 함 */
}

header {
    background-color: #fff;
}

/* quick menu start */
.custom-img {
    width: 80px; /* 이미지 너비 조절 */
    height: auto; /* 높이는 자동으로 설정하여 비율 유지 */
}

.quick-access-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #000; /* 텍스트 색상 */
    margin-bottom: 10px; /* 마진으로 요소 간 간격 조정 */
}

.quick-access-container {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 상위 요소의 텍스트 색상 상속 */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quick-access-icon {
    background-color: #5e68ff; /* 아이콘 배경색 */
    border-radius: 50%; /* 원형 디자인 */
    padding: 10px; /* 아이콘 패딩 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.quick-access-icon img {
    display: block; /* 이미지 블록 레벨 */
    width: 40px; /* 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
}

.quick-access {
    background: #fff;
}
/* quick menu end */

/* notice start */
.announcement-section {
    display: flex;
    justify-content: space-between;
    background: #fff; /* 배경색 변경 */
    padding: 40px; /* 패딩 조정 */
    border-radius: 8px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 추가 */
}
.announcement-list h4 {
    margin-bottom: 20px;
}
.announcement-item {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd; /* 경계선 스타일 */
}
.announcement-item:last-child {
    border-bottom: 1px solid #ddd;
}
.announcement-item a {
    color: #007BFF; /* 링크 색상 */
    text-decoration: none; /* 밑줄 제거 */
    color: #000;
}
.announcement-item a:hover {
    text-decoration: underline; /* 마우스 오버시 밑줄 */
}
.announcement-item span {
    float: right;
    color: #666;
}
.banner-image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* 이미지 둥근 모서리 */
}
/* notice end */

/* body  travel packages start */
.text-container {
    margin-bottom: 10px; /* 텍스트와 버튼 간의 간격 조정 */
    font-size: 30px; /* 텍스트 크기 조정 */
    font-weight: bold; /* 텍스트 두께 조정 */
  }
  
  .sub-text-container {
    font-size: 20px; /* 서브 텍스트 크기 조정 */
    color: #666; /* 서브 텍스트 색상 조정 */
    margin-bottom: 20px; /* 버튼과 서브 텍스트 간의 간격 조정 */
  }
  
  .btn-container-wrapper {
    width: 100%;
    display: inline-block; /* 컨테이너를 버튼의 너비에 맞게 설정 */
    padding: 10px 0; /* 상하 패딩 추가 */
  }
  
  .btn-container {
    display: flex; /* 가로로 배치 */
    gap: 50px; /* 버튼 간 간격 */
    justify-content: center; /* 버튼을 중앙에 배치 */
    padding: 40px; /* 상하 여백 */
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
  }
  
  .btn-circle {
    width: 100px; /* 버튼의 너비 */
    height: 100px; /* 버튼의 높이 */
    padding: 0; /* 내부 여백 제거 */
    border-radius: 50%; /* 동그란 모양 */
    overflow: hidden; /* 이미지가 버튼 영역을 넘지 않도록 설정 */
    position: relative; /* 텍스트 위치 조정 */
  }
  
  .btn-circle img {
    width: 100%; /* 이미지가 버튼 영역을 가득 채우도록 설정 */
    height: 100%; /* 이미지가 버튼 영역을 가득 채우도록 설정 */
    object-fit: cover; /* 이미지 비율 유지하며 영역에 맞추기 */
    filter: brightness(0.6); /* 이미지 밝기를 조절 */
}
  
  .btn-text {
    position: absolute; /* 절대 위치로 설정 */
    top: 50%; /* 상단에서 50% 위치 */
    left: 50%; /* 왼쪽에서 50% 위치 */
    transform: translate(-50%, -50%); /* 중앙으로 이동 */
    font-size: 25px; /* 텍스트 크기 */
    color: #f5f2f2; /* 텍스트 색상 */
    white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
  }
  
  /* body  travel packages end */


/*body slide menu start*/
  .notice_content {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    align-content: center;
    color: #EB1C23;
}

.distinct-content {
    background-color: rgba(255, 255, 255, 0.75); /* 연한 흰색 배경 */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-content: center;
    z-index: 10;
}

.distinct-content form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.distinct-content form > div {
    flex: 1 1 calc(50% - 10px);
    flex-direction: column;
}

.distinct-content select,
.distinct-content input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.distinct-content button {
    padding: 10px;
    width: 100%;
    height: 38px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.distinct-content button:hover {
    background-color: #0056b3;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.main-content-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.distinct-area {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    max-width: 100%;
    max-height: 100%;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.dis_content_txt {
    padding-right: 20px;
    margin-left: 89px;
    margin-bottom: 22px;
    align-content: center;
    text-align: center;
}

.dis_content_txt a {
    padding-right: 65px;
    margin-bottom: 20px;
    color:#000000;
    text-decoration: unset;
}

.notice_content img {
    margin-bottom: 3px;
}

.dis_content_txt .on {
text-decoration: underline;
text-underline-offset: 6px;
}

.search_ticket img {
width: 17px;
margin-right: 5px;
}
/*body slide menu end*/

.reserv_loc {
    display:inline-block; 
    background: #007bff;
    width:64px; 
    height:36px; line-height:42px; text-align:center;
}

.reserv_loc img {
    margin-bottom: 7px;
}

.station_start_select {
    float: left;
    width: 71%;
}

.station_start_map {
    float: right;
    width: 27%;
}

.station_end_select {
    float: left;
    width: 71%;
}

.station_end_map {
    float: right;
    width: 27%;
}

.station_start_map img {
    margin-bottom: 3px;
}

.station_end_map img {
    margin-bottom: 3px;
}

.round-train_area #date1{
    width: 245px;
}

.round-train_area #time1{
    width: 245px;
    margin-left: 6px;
}

.round-train_area.start {
    text-align: left;
}

.round-train_area .end {
    text-align: left;
}

#date{
    width: 245px;
    float: left;
}

#time{
    width: 245px;
    float: right;
    margin-left: 9px;
    height: 42px;
}


/* 패키지 리스트 스타일 */
.list-group-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  }
  
  .list-group-item img {
    width: 300px;
    height: 75px;
    margin-right: 15px;
  }
  
  .list-group-item .package-content {
    display: flex;
    flex-direction: column;
  }
  
  .list-group-item h5 {
    font-size: 1.5rem;
    font-weight: bold;
    /* margin-bottom: 10px; */
  }
  
  .list-group-item p {
    margin: 0 0 10px 0;
  }
  
  .list-group-item small {
    color: #555;
  }

  #packageImg{
    width: 300px;
    height: auto;
    margin-right: 15px;
  }

  #packageMap{
    justify-content: space-around;
  }

  #MainImg{
    width: 520px;
    height: 225px;
    /* margin-left: 10px; */
  }
  #MainMap{
    /* width: 520px; */
    height: 380px;
    /* margin-left: 30px; */
  }